.home {
    background-image: url(C:\Users\Fer\Desktop\Programacion\HENRY\PI\FINAL\PI-Pokemon-main\client\src\Images\pokeball-pokemon-minimal.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}