.landing {
    background-image: url("C:\Users\Fer\Desktop\Programacion\HENRY\PI\FINAL\PI-Pokemon-main\client\src\Images\pokemon_pokeball-wallpaper-2560x1440.jpg") ;
    background-size:contain;
    background-position: center;
    height: 100vh;
    position:relative;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    padding-top: 60vh;
}

.bn62 {
  background-color: #1a1a1aae;
  border-radius: 50px;
  height: 3em;
  width: 8em;
  font-size: 25px;
  font-weight: 600;
}

.button {
    color: rgb(229, 188, 39);
    text-decoration: none;
}